@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100vh;
   height: 100svh;
   overflow-x: hidden;

   font-family: "Roboto", sans-serif;
   line-height: 1.4;
   letter-spacing: 0.6px;
   position: relative;
   background-color: #fffcfb;
   color: #333333;
}
